@using Core.Entities
@model Curseİnfo
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <p class="card-description">
                            Delete Curse Info
                        </p>
                        <span>Id: </span>
                        <span>@Model.Id</span>
                        <br>
                        <span>Experience: </span>
                        <span>@Model.Experience</span>
                        <br>
                        <span>VideoLesson: </span>
                        <span>@Model.VideoLesson</span>
                        <br>
                        <span>Graduates: </span>
                        <span>@Model.Graduates</span>
                    </div>
                    <form method="post" asp-action="DeletePost" asp-controller="curseinfo" asp-area="chemistry-Vafa-admin" asp-route-id="@Model.Id">
                        <button class="btn btn-dangers">Delete</button>
                        <a class="btn btn-light" href="../">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>