@{
    Layout = null;
    ViewBag.Title = "Forgot Password";
}
@using Web.ViewModels.Account;
@model AccountResetPasswordVM;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kimya, kimya dərsləri,kimya sinagi,miq,abituriyent,kimya miq,kimya suallari,vəfa kerimli,kimya dersleri,vefa kerimli,agma,muellim,məllim,müəllim">
    <meta name="keywords" content="kimya, kimya dərsləri,kimya sinagi,miq,abituriyent,kimya miq,kimya suallari,vəfa kerimli,kimya dersleri,vefa kerimli,agma,muellim,məllim,müəllim">
    <title>Şifrəni yenilə</title>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/style/css/style.css">
</head>

<body>
    <div id="preloader"></div>
    <div class="forgot">
        <div class="container">
            <div class="wrap-forgot">
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-6 ">
                        <div class="forgot-picture">
                            <img src="~/assets/media/chemistryset_dribbble.gif" alt="chemistry">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-md-6">
                        <form method="post" asp-action="ResetPassword" asp-controller="account" id="form-forgot" class="forgot-form validate-form">
                            <h4 class="forgot-form-title" title="Şifrəni yenilə">Şifrəni yenilə</h4>
                            <div class="validation-input">
                                <div class="wrap-input validate-input">
                                    <input asp-for="@Model.NewPassword" class="input" id="password" type="password" 
                                           placeholder="Şifrənizi qeyd edin">
                                    <span class="focus-input"></span>
                                    <span class="symbol-input">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <i class="bx bx-hide show-hide"></i>
                                    <span style="font-size:14px;color:red;" asp-validation-for="@Model.NewPassword"></span>
                                </div>
                            </div>
                            <div class="validation-input">
                                <div class="wrap-input validate-input">
                                    <input asp-for="@Model.ConfirmPassword" class="input cpassword" id="cpassword" type="password"
                                           placeholder="Şifrəni təsdiqləyin">
                                    <span class="focus-input"></span>
                                    <span class="symbol-input">
                                        <i class="fa-solid fa-key"></i>
                                    </span>
                                    <i class="bx bx-hide show-hide"></i>
                                    <span style="font-size:14px;color:red;" asp-validation-for="@Model.ConfirmPassword"></span>
                                </div>
                                <p class="error cPassword-error">
                                    <i class="bx bx-error-circle error-icon"></i>
                                    <span class="error-text">Parol uyğun gəlmir</span>
                                </p>
                            </div>
                            <div class="forgot-form-btn">
                                <button class="forgot-button" type="submit">Şifrəni sıfırla</button>
                            </div>

                            <input type="hidden" asp-for="Token" value="@Model.Token" />
                            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                        </form>

                        <div class="create-account">
                            <a href="./login.html" rel="nofollow">
                                Üzv girişi
                                <i class="fa fa-long-arrow-right "></i>
                            </a>
                        </div>
                        <div class="home-page">
                            <a href="./index.html" rel="nofollow">
                                Əsas səhifə
                                <i class="fa fa-long-arrow-right "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/javascript/jquery.js"></script>
    <script src="~/javascript/fontawesome.js"></script>
    <script src="~/javascript/logregister.js"></script>
</body>

</html>

