@using Web.ViewModels
@model HomeIndexVM
<section>
@*<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <h1>Scholar</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Əsas</a></li>
                        <li class="scroll-to-section"><a href="#teacher">Haqqımızda</a></li>
                        <li class="scroll-to-section"><a href="exams.html">Sınaglar</a></li>
                        <li class="scroll-to-section"><a href="videolessons.html">Dərslər</a></li>
                        <li class="scroll-to-section"><a href="#team">Məzunlarımız</a></li>
                        <li class="scroll-to-section"><a href="events.html">Xəbərlər</a></li>
                        <li class="scroll-to-section"><a href="#contact">Əlaqə</a></li>
                        <li class="scroll-to-section"><a href="#" id="btn-popup">Daxil ol</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>*@
   <!-- Login area Start -->
    @*<section class="user" id="user2">
        <div class="user_options-container">
            <div class="user_options-text">
                <div class="user_options-unregistered">
                    <h2 class="user_unregistered-title">Don't have an account?</h2>
                    <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer
                        whatever street art fap.</p>
                    <button class="user_unregistered-signup" id="signup-button">Sign up</button>
                </div>

                <div class="user_options-registered">
                    <h2 class="user_registered-title">Have an account?</h2>
                    <p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer
                        whatever street art fap.</p>
                    <button class="user_registered-login" id="login-button">Login</button>
                </div>
            </div>
            <div class="user_options-forms" id="user_options-forms">
                <div class="user_forms-login">
                    <h2 class="forms_title">Login</h2>
                <form method="post" asp-action="index" asp-controller="home" class="forms_form">
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                 <input asp-for="@Model.LoginVM.Email" type="email" placeholder="Email" class="forms_field-input" required autofocus />
                                 <span asp-validation-for="@Model.LoginVM.Email"></span>
                            </div>
                            <div class="forms_field">
                                <input asp-for="@Model.LoginVM.PassWord" type="password" placeholder="Password" class="forms_field-input" required />
                                <span asp-validation-for="@Model.LoginVM.PassWord"></span>
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <input type="submit" value="Log In" class="forms_buttons-action">
                        </div>
                    </form>
                </div>
                <div class="user_forms-signup">
                    <h2 class="forms_title">Sign Up</h2>
                    <form method="post" asp-action="index" asp-controller="home" class="forms_form">
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                            <input asp-for="@Model.RegisterVM.Name" type="text" placeholder="Name" class="forms_field-input" required />
                            <span asp-validation-for="@Model.RegisterVM.Name"></span>
                            </div>
                             <div class="forms_field">
                            <input asp-for="@Model.RegisterVM.surName" type="text" placeholder="SurName" class="forms_field-input" required />
                            <span asp-validation-for="@Model.RegisterVM.surName"></span>
                            </div>
                            <div class="forms_field">
                                <input asp-for="@Model.RegisterVM.Email" type="email" placeholder="Email" class="forms_field-input" required />
                                <span asp-validation-for="@Model.RegisterVM.Email"></span>
                            </div>
                            <div class="forms_field">
                                <input asp-for="@Model.RegisterVM.PassWord" type="password" placeholder="Password" class="forms_field-input" required />
                            <span asp-validation-for="@Model.RegisterVM.PassWord"></span>
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <input type="submit" value="Sign up" class="forms_buttons-action">
                        </div>
                    </form>
                </div>
            </div>
            <div class="close-btn">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </section>

    <!-- Login area End -->

    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-banner">
                        <div class="item item-1">
                            <div class="header-text">
                                <span class="category">Our Courses</span>
                                <h2>With Scholar Teachers, Everything Is Easier</h2>
                                <p>Scholar is free CSS template designed by TemplateMo for online educational related
                                    websites. This layout is based on the famous Bootstrap v5.3.0 framework.</p>
                            </div>
                        </div>
                        <div class="item item-2">
                            <div class="header-text">
                                <span class="category">Best Result</span>
                                <h2>Get the best result out of your effort</h2>
                                <p>You are allowed to use this template for any educational or commercial purpose. You
                                    are not allowed to re-distribute the template ZIP file on any other website.</p>
                            </div>
                        </div>
                        <div class="item item-3">
                            <div class="header-text">
                                <span class="category">Online Learning</span>
                                <h2>Online Learning helps you save the time</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporious
                                    incididunt ut labore et dolore magna aliqua suspendisse.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="teacher" >
        <div class="section about-us">
            <div class="container">
                <div class="row teacher-information">
                    <div class="col-lg-6 teacher">
                        <img src="~/assets/images/profile-picture.jpg" alt="">
                    </div>
                    <div class="col-lg-6 info-name">
                        <div class="name">
                            <h2>Vefa Kerimli</h2>
                        </div>
                        <div class="info">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti atque molestias vero
                                velit?
                                Perspiciatis dolores quis aspernatur sapiente consequatur, ipsam ab excepturi,
                                aut reprehenderit provident minus optio perferendis et voluptatem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section courses" id="courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Sınaqlar</h2>
                    </div>
                </div>
            </div>
            <ul class="event_filter">
                <li>
                    <a href="#!" data-filter=".design">MİQ</a>
                </li>
                <li>
                    <a href="#!" data-filter=".development">Abuturiyent</a>
                </li>
            </ul>
            <div class="row event_box">
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/course-01.jpg" alt=""></a>
                            <span class="category">Webdesign</span>
                            <span class="price">
                                <h6><svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                            fill="#fff"></path>
                                    </svg>160</h6>
                            </span>
                        </div>
                        <div class="down-content">
                            <span class="author">Stella Blair</span>
                            <h4>Learn Web Design</h4>
                            <div class="content-btn">
                                <button>Satin al</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6  development">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/course-02.jpg" alt=""></a>
                            <span class="category">Development</span>
                            <span class="price">
                                <h6><svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                            fill="#fff"></path>
                                    </svg>340</h6>
                            </span>
                        </div>
                        <div class="down-content">
                            <span class="author">Cindy Walker</span>
                            <h4>Web Development Tips</h4>
                            <div class="content-btn">
                                <button>Satin al</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design wordpress">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/course-03.jpg" alt=""></a>
                            <span class="category">Wordpress</span>
                            <span class="price">
                                <h6><svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                            fill="#fff"></path>
                                    </svg>640</h6>
                            </span>
                        </div>
                        <div class="down-content">
                            <span class="author">David Hutson</span>
                            <h4>Latest Web Trends</h4>
                            <div class="content-btn">
                                <button>Satin al</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 development">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/course-04.jpg" alt=""></a>
                            <span class="category">Development</span>
                            <span class="price">
                                <h6><svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                            fill="#fff"></path>
                                    </svg>450</h6>
                            </span>
                        </div>
                        <div class="down-content">
                            <span class="author">Stella Blair</span>
                            <h4>Online Learning Steps</h4>
                            <div class="content-btn">
                                <button>Satin al</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress development">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/course-05.jpg" alt=""></a>
                            <span class="category">Wordpress</span>
                            <span class="price">
                                <h6><svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                            fill="#fff"></path>
                                    </svg>320</h6>
                            </span>
                        </div>
                        <div class="down-content">
                            <span class="author">Sophia Rose</span>
                            <h4>Be a WordPress Master</h4>
                            <div class="content-btn">
                                <button>Satin al</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress design">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="assets/images/course-06.jpg" alt=""></a>
                            <span class="category">Webdesign</span>
                            <span class="price">
                                <h6><svg width="20" height="16" viewBox="0 0 20 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.422 2.88C16.272 3.636 20 8.2 20 13.716c0 .783-.076 1.547-.219 2.284h-2.714c.195-.724.3-1.49.3-2.284 0-3.921-2.557-7.188-5.945-7.913v7.612l-2.697 1.484V5.773c-3.46.66-6.093 3.966-6.093 7.943 0 .794.105 1.56.3 2.284H.22A12 12 0 0 1 0 13.716C0 8.143 3.805 3.543 8.726 2.858V1.483L11.422 0v2.88z"
                                            fill="#fff"></path>
                                    </svg>240</h6>
                            </span>
                        </div>
                        <div class="down-content">
                            <span class="author">David Hutson</span>
                            <h4>Full Stack Developer</h4>
                            <div class="content-btn">
                                <button>Satin al</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="250" data-speed="1000"></h2>
                                    <p class="count-text ">Məzunlarımız</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="804" data-speed="1000"></h2>
                                    <p class="count-text ">Sınağlar</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="50" data-speed="1000"></h2>
                                    <p class="count-text ">Video dərslər</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter end">
                                    <h2 class="timer count-title count-number" data-to="15" data-speed="1000"></h2>
                                    <p class="count-text ">Təcrübə</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team section" id="team">
        <div class="container">
            <div class="row">
                <div class="students-header">
                    <h3>
                        Məzunlarımız
                    </h3>
                </div>
                <div class="slick-slider students col-12">
                    <div class="col-lg-12">
                        <div class="team-member">
                            <div class="main-content">
                                <img src="assets/images/member-01.jpg" alt="">
                                <span class="category">UX Teacher</span>
                                <h4>Sophia Rose</h4>
                                <ul class="social-icons">
                                    <li>
                                        <i class="fa-solid fa-building-columns"></i>
                                        <span style="font-weight:600;">BDU</span>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                        <span>Kompyuter Elmleri</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="team-member">
                            <div class="main-content">
                                <img src="assets/images/member-02.jpg" alt="">
                                <span class="category">Graphic Teacher</span>
                                <h4>Cindy Walker</h4>
                                <ul class="social-icons">
                                    <li>
                                        <i class="fa-solid fa-building-columns"></i>
                                        <span>Universitet</span>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                        <span>Universitet</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="team-member">
                            <div class="main-content">
                                <img src="assets/images/member-03.jpg" alt="">
                                <span class="category">Full Stack Master</span>
                                <h4>David Hutson</h4>
                                <ul class="social-icons">
                                    <li>
                                        <i class="fa-solid fa-building-columns"></i>
                                        <span>Universitet</span>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                        <span>Universitet</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="team-member">
                            <div class="main-content">
                                <img src="assets/images/member-04.jpg" alt="">
                                <span class="category">Digital Animator</span>
                                <h4>Stella Blair</h4>
                                <ul class="social-icons">
                                    <li>
                                        <i class="fa-solid fa-building-columns"></i>
                                        <span>Universitet</span>
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                        <span>Universitet</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section events" id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Xəbərlər</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="image">
                                    <img src="assets/images/event-01.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9 item-description">
                                <div class="category">
                                    <p>Webdesign</p>
                                    <h4>UI Best Practices</h4>
                                </div>
                                <div class="item-date">
                                    <span>Date:</span>
                                    <h6>24 Feb 2036</h6>
                                </div>
                                <a href="inner-events.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="image">
                                    <img src="assets/images/event-02.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9 item-description">
                                <div class="category">
                                    <p>Webdesign</p>
                                    <h4>UI Best Practices</h4>
                                </div>
                                <div class="item-date">
                                    <span>Date:</span>
                                    <h6>24 Feb 2036</h6>
                                </div>
                                <a href="inner-events.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="image">
                                    <img src="assets/images/event-03.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9 item-description">
                                <div class="category">
                                    <p>Webdesign</p>
                                    <h4>UI Best Practices</h4>
                                </div>
                                <div class="item-date">
                                    <span>Date:</span>
                                    <h6>24 Feb 2036</h6>
                                </div>
                                <a href="inner-events.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="image">
                                    <img src="assets/images/event-03.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-9 item-description">
                                <div class="category">
                                    <p>Webdesign</p>
                                    <h4>UI Best Practices</h4>
                                </div>
                                <div class="item-date">
                                    <span>Date:</span>
                                    <h6>24 Feb 2036</h6>
                                </div>
                                <a href="inner-events.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-us section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  align-self-center">
                    <div class="section-heading">
                        <h6>Contact Us</h6>
                        <h2>Feel free to contact us anytime</h2>
                        <p>Thank you for choosing our templates. We provide you best CSS templates at absolutely 100%
                            free of charge. You may support us by sharing our website to your friends.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-us-content">
                        <form id="contact-form" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="name" name="name" id="name" placeholder="Adınız..."
                                            autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="text" name="email" id="email"
                                            placeholder="E-mail..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" id="message" placeholder="Mesajınız"></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="orange-button">Mesajınızı
                                            göndərin</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
</section>
<main>
    <div class="heroSection">
        <div class="container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-s-12 col-xs-12">
                            <div class="swiperImage">
                                <article>
                                    <div class="swiperCategory">
                                        Lorem, ipsum.
                                    </div>
                                    <h3>With Scholar Teachers, Everything Is Easier</h3>
                                    <p>
                                        Scholar is free CSS template designed by TemplateMo for online educational
                                        related
                                        websites. This layout is based on the famous Bootstrap v5.3.0 framework.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-s-12 col-xs-12">
                            <div class="swiperImage swiperImage-2">
                                <article>
                                    <div class="swiperCategory">
                                        Lorem, ipsum.
                                    </div>
                                    <h3>With Scholar Teachers, Everything Is Easier</h3>
                                    <p>
                                        Scholar is free CSS template designed by TemplateMo for online educational
                                        related
                                        websites. This layout is based on the famous Bootstrap v5.3.0 framework.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-s-12 col-xs-12">
                            <div class="swiperImage swiperImage-3">
                                <article>
                                    <div class="swiperCategory">
                                        Lorem, ipsum.
                                    </div>
                                    <h3>With Scholar Teachers, Everything Is Easier</h3>
                                    <p>
                                        Scholar is free CSS template designed by TemplateMo for online educational
                                        related
                                        websites. This layout is based on the famous Bootstrap v5.3.0 framework.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-s-12 col-xs-12">
                            <div class="swiperImage swiperImage-4">
                                <article>
                                    <div class="swiperCategory">
                                        Lorem, ipsum.
                                    </div>
                                    <h3>With Scholar Teachers, Everything Is Easier</h3>
                                    <p>
                                        Scholar is free CSS template designed by TemplateMo for online educational
                                        related
                                        websites. This layout is based on the famous Bootstrap v5.3.0 framework.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <section id="about-us" class="aboutUs">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-6 col-md-8 col-s-12 col-xs-12">
                    <div class="teacherImage">
                        <img src="~/assets/media/profile-picture.jpg" alt="">
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-md-9 col-s-10 col-xs-12">
                    <div class="infoTeacher">
                        <article>
                            <h4 id="information">Vefa Kerimli</h4>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, quidem. Deleniti
                                excepturi assumenda distinctio libero, a blanditiis molestias quae unde non delectus
                                hic possimus odit nihil expedita placeat eos facere veniam, minima omnis ratione
                                sed. Animi atque laudantium sed non dolorum, quia nulla modi, harum sequi,
                                exercitationem quae cumque tempore quod similique provident quos. Perferendis
                                nostrum ab dolore eveniet libero repudiandae nemo odit, ipsam sunt expedita, aut id
                                aperiam, impedit delectus fugiat perspiciatis repellat qui. Sit.
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="graduater" class="graduateSection">
        <div class="container">
            <article>
                <h3 id="graduates">Məzunlarımız</h3>
            </article>
            <div class="graduate-wrapper">
                <div class="graudate-slide">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiperCard">
                                <div class="swiperImage">
                                    <img src="~/assets/media/member-01.jpg" alt="member-01">
                                </div>
                                <article>
                                    <span>UX Teacher</span>
                                    <h4>Sophia Rose</h4>
                                    <ul class="socialIcons">
                                        <li>
                                            <i class="fa-solid fa-building-columns"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-star"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graudate-slide">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiperCard">
                                <div class="swiperImage">
                                    <img src="~/assets/media/member-01.jpg" alt="member-01">
                                </div>
                                <article>
                                    <span>UX Teacher</span>
                                    <h4>Sophia Rose</h4>
                                    <ul class="socialIcons">
                                        <li>
                                            <i class="fa-solid fa-building-columns"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-star"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graudate-slide">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-md-12 col-s-12 col-xs-12">
                            <div class="swiperCard">
                                <div class="swiperImage">
                                    <img src="~/assets/media/member-01.jpg" alt="member-01">
                                </div>
                                <article>
                                    <span>UX Teacher</span>
                                    <h4>Sophia Rose</h4>
                                    <ul class="socialIcons">
                                        <li>
                                            <i class="fa-solid fa-building-columns"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-star"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graudate-slide">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiperCard">
                                <div class="swiperImage">
                                    <img src="~/assets/media/member-01.jpg" alt="member-01">
                                </div>
                                <article>
                                    <span>UX Teacher</span>
                                    <h4>Sophia Rose</h4>
                                    <ul class="socialIcons">
                                        <li>
                                            <i class="fa-solid fa-building-columns"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-star"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graudate-slide">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiperCard">
                                <div class="swiperImage">
                                    <img src="~/assets/media/member-01.jpg" alt="member-01">
                                </div>
                                <article>
                                    <span>UX Teacher</span>
                                    <h4>Sophia Rose</h4>
                                    <ul class="socialIcons">
                                        <li>
                                            <i class="fa-solid fa-building-columns"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-star"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graudate-slide">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiperCard">
                                <div class="swiperImage">
                                    <img src="~/assets/media/member-01.jpg" alt="member-01">
                                </div>
                                <article>
                                    <span>UX Teacher</span>
                                    <h4>Sophia Rose</h4>
                                    <ul class="socialIcons">
                                        <li>
                                            <i class="fa-solid fa-building-columns"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-star"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graudate-slide">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiperCard">
                                <div class="swiperImage">
                                    <img src="~/assets/media/member-01.jpg" alt="member-01">
                                </div>
                                <article>
                                    <span>UX Teacher</span>
                                    <h4>Sophia Rose</h4>
                                    <ul class="socialIcons">
                                        <li>
                                            <i class="fa-solid fa-building-columns"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-star"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graudate-slide">
                    <div class="row">
                        <div class="col-12">
                            <div class="swiperCard">
                                <div class="swiperImage">
                                    <img src="~/assets/media/member-01.jpg" alt="member-01">
                                </div>
                                <article>
                                    <span>UX Teacher</span>
                                    <h4>Sophia Rose</h4>
                                    <ul class="socialIcons">
                                        <li>
                                            <i class="fa-solid fa-building-columns"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                        <li>
                                            <i class="fa-regular fa-star"></i>
                                            <p>Lorem, ipsum.</p>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="incrementSection">
        <div class="container">
            <div class="row">
                <div class="col-3 col-lg-3 col-md-6 col-s-12 col-xs-12">
                    <article>
                        <h4 class="counter" data-target="250"><i class="fas fa-plus"></i></h4>
                        <p>Məzunlarımız</p>
                    </article>
                </div>
                <div class="col-3 col-lg-3 col-md-6 col-s-12 col-xs-12">
                    <article>
                        <h4 class="counter" data-target="804"> <i class="fas fa-plus"></i></h4>
                        <p>Sınağlar</p>
                    </article>
                </div>
                <div class="col-3 col-lg-3 col-md-6 col-s-12 col-xs-12">
                    <article>
                        <h4 class="counter" data-target="50"><i class="fas fa-plus"></i></h4>
                        <p>Video dərslər</p>
                    </article>
                </div>
                <div class="col-3 col-lg-3 col-md-6 col-s-12 col-xs-12">
                    <article>
                        <h4 class="counter" data-target="15"><i class="fas fa-plus"></i></h4>
                        <p>Təcrübə</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section id="news" class="newsSection">
        <div class="container">
            <div class="section-heading">
                <h2>Xəbərlər</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-s-8 col-xs-12">
                    <div class="newsCard">
                        <div class="row">
                            <div class="col-3 col-lg-3 col-md-12 col-s-12 col-xs-12">
                                <div class="image">
                                    <img src="https://templatemo.com/templates/templatemo_586_scholar/assets/images/event-03.jpg"
                                         alt="">
                                </div>
                            </div>
                            <div class="col-9 col-lg-9 col-md-12 col-s-12 col-xs-12">
                                <ul>
                                    <li>
                                        <span class="category">Full Stack</span>
                                        <h4>Web Programming</h4>
                                    </li>
                                    <li>
                                        <p>Date</p>
                                        <h6>12 Mar 2023</h6>
                                    </li>
                                </ul>
                                <a href="#">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-s-8 col-xs-12">
                    <div class="newsCard">
                        <div class="row">
                            <div class="col-3 col-lg-3 col-md-12 col-s-12 col-xs-12">
                                <div class="image">
                                    <img src="https://templatemo.com/templates/templatemo_586_scholar/assets/images/event-03.jpg"
                                         alt="">
                                </div>
                            </div>
                            <div class="col-9 col-lg-9 col-md-12 col-s-12 col-xs-12">
                                <ul>
                                    <li>
                                        <span class="category">Full Stack</span>
                                        <h4>Web Programming</h4>
                                    </li>
                                    <li>
                                        <p>Date</p>
                                        <h6>12 Mar 2023</h6>
                                    </li>
                                </ul>
                                <a href="#">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="viewMore">
                <a href="./news.html">View more <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </section>
    <section id="contact-us" class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-6 col-md-12 col-s-12 col-xs-12">
                    <article class="content">
                        <h6 id="contact-us">Contact us</h6>
                        <h2>Feel free to contact us anytime</h2>
                        <p>
                            Thank you for choosing our templates. We provide you best CSS templates at absolutely
                            100%
                            free of charge. You may support us by sharing our website to your friends.
                        </p>
                    </article>
                </div>
                <div class="col-6 col-lg-6 col-md-12 col-s-12 col-xs-12">
                    <div class="contactForm">
                        <form>
                            <div class="inputForm">
                                <input type="text" placeholder="Adınız...">
                            </div>
                            <div class="inputForm">
                                <input type="email" placeholder="E-mail...">
                            </div>
                            <div class="inputForm">
                                <textarea placeholder="Mesajınız..."></textarea>
                            </div>
                            <div class="inputForm">
                                <button>
                                    Mesajınızı
                                    göndərin
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>